
<p-treeTable [value]="organizations$ | async" [loading]="loading$ | async" selectionMode="single"
  (onNodeSelect)="onNodeSelect($event)" dataKey="key" [(selection)]="selectedNode" *ngIf="!(errorMessage$ | async)" >
  <ng-template pTemplate="caption">
    Organizations
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{ rowData.label }}
      </td>
    </tr>
  </ng-template>
</p-treeTable>
<div class="error">{{ errorMessage$ | async }}</div>
