<p-treeTable [value]="organizations$ | async" [loading]="loading$ | async" selectionMode="single"
  (onNodeSelect)="onOrganizationSelected($event)" dataKey="key" *ngIf="!(hasError$ | async)">
  <ng-template pTemplate="caption">
    Organizations
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{ rowData.label }}
      </td>
    </tr>
  </ng-template>
</p-treeTable>
<div *ngIf="hasError$ | async" class="error">{{ errorMessage$ | async }}</div>

